[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/calendar-vim"]
	path = bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/denite"]
	path = bundle/denite
	url = https://github.com/Shougo/denite.nvim.git
[submodule "bundle/factorus"]
	path = bundle/factorus
	url = https://github.com/apalmer1377/factorus.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/bundle/lightline"]
	path = bundle/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule "bundle/howmuch"]
	path = bundle/howmuch
	url = https://github.com/sk1418/HowMuch.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/vim-scripts/lightline.git
[submodule "bundle/vim-maktaba"]
	path = bundle/vim-maktaba
	url = https://github.com/google/vim-maktaba.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-ledger"]
	path = bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "bundle/rainbowPars"]
	path = bundle/rainbowPars
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
